*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

/* fonts used... */
.jost-regular {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* ...from fonts.google.com */

nav {
    padding: 37px 0 37px 0;
    border-bottom: 1px solid lightgray;
}

.container {
    width: 100%;
    padding: 0 15px 0 15px;
    margin: 0 auto 0 auto;
}

@media (min-width : 1200px) {
    .container {  
        max-width: 1200px;
    }
}

@media (max-width : 990px) {
    .container {  
        max-width: 990px;
        padding: 0 60px 0 60px;
    }
}

nav .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline-block;
    font-size: 1.25em;
    letter-spacing: 2.5px;
}

a {
    text-decoration: none;
    color: rgb(32, 32, 32);
}

#nav-menu {
    width: 50%;
}

#icon-menu {
    display: none;
}

@media (max-width : 990px) {
    nav .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 50px 0 50px;
        font-size: 0.73em;
    }

    #entete-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    #logo {
        img {
            width: 200px;
            height: auto;
        }
    }

    #icon-menu {
        display: contents;
    }

    #nav-menu {
        display: flex;
        display: none;
        flex-direction: column;
        transition: display 1s;

        ul {
            display: flex;
            flex-direction: column;
        }

        li {
            padding-top: 25px;
        }
    }
}

.home-img {
    padding: 145px 0 145px 0;
    background-image:   linear-gradient(180deg, 
                                rgb(0,0,0,0.6) 0%, 
                                rgb(0,0,0,0.8) 100%),
                        url('img/rocketlaunch.jpeg');
    height: 800px;
    color: #fff;
}

/* .home-img .container {
    
} */

.home-img .container h1 {
    font-size: 3.9em;
    font-weight: 400;
    padding-top: 70px;
    width: 70%;
}
.home-img .container p {
    font-size: 1.8em;
    font-weight: 300;
    padding: 30px 0 50px 0;
}

button {
    width: 200px;
    height: 53px;
    font-size: 1.1em;
    letter-spacing: 3px;
    border: 0;
}

main .text-center {
    display: flex;
    justify-content: center;
    padding: 100px 0 100px 0;
    font-size: 1.8em;
    font-weight: 400;
}

.h-section, .c-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* section {
    border: 1px red solid;
}

article {
    border: 1px green solid;
} */

.v-box {
    display: flex;
    flex-direction: column;
    width: 48.5%;
    border: 1px lightgray solid;
}

.img-article-hsec {
    width: 100%;
    height: 360px;
}

@media (max-width : 990px) {
    .img-article-hsec {
        width: 100%;
        height: 220px;
    }
}

.text-article {
    width: 100%;
    /* height: 150px; */
    font-size: 1.4em;
    text-align: center;
    padding: 50px 0 50px 0;
}

.text-article p {
    padding-top: 30px;
}

.text-article a {
    color: #814ebf;
    font-weight: 400;
    font-size: 0.8em;
}

.v-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 130px;
}

.h-box-d {
    display: flex;
    flex-direction: row;
    position: relative;
}

.h-box-g {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    padding: 200px 0 200px 0;

    .reverse {
        left: 50px;
        bottom: 130px;
    }
}

.img-article-vsec {
    width: 65%;
    height: 530px;
}

.text-article-vsec {
    width: 45%;
    background-color: rgb(59, 59, 59);
    color: white;
    position: absolute;
    right: 50px;
    bottom: -70px;
    padding: 55px;
    h2 {
        font-size: 2em;
        padding-bottom: 15px;
    }
    p {
        padding: 15px 0 15px 0;
        font-size: 1.4em;
    }
    button {
        width: 270px;
        font-weight: bold;
        font-size: 1em;
    }

}

@media (max-width : 990px) {
    .text-article-vsec {
        width: 85%;
        right: -10px;
        bottom: -210px;
        padding: 55px;
    }
}

@media (max-width : 990px) {
    .img-article-vsec {
        width: 100%;
    }
}

@media (max-width : 990px) {
    .h-box-g {
    padding: 300px 0 300px 0;
    
    .reverse {
        left: -10px;
        bottom: 70px;
    }
    }
}

.text-center-bf {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 200px 0 100px 0;
    p {
        font-size: 1.8em;
        font-weight: 400;
        padding: 0 0 30px 0;
    }
}

@media (max-width : 990px) {
    .text-center-bf {
        padding: 300px 0 100px 0;
    }
}

.violet-btn {
    background-color: #814ebf;
    color: #fff;
    width: 220px;
}

.text-center-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0 50px 0;
    p {
        font-size: 1.8em;
        font-weight: bold;
        font-style: italic;
        padding: 0 0 30px 0;
        width: 60%;
    }
    span {
        font-size: 1.2em;
        letter-spacing: 3px;
    }
}

footer {
    padding-top: 120px;
    .infos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.before-f {
    background-color: #814ebf;
    color: #fff;
    padding: 50px 0 70px 0;
    .text {
        width: 70%;
        padding-left: 0;
        margin-left: 0;
    }
    h2 {
        padding: 25px 0 30px 0;
        font-size: 2.5em;
    }
    p {
        font-size: 1.5em;
    }
    button {
        padding-right: 0;
        margin-right: 0;
        font-weight: bold;
    }
}

@media (max-width : 990px) {
    .before-f {
        .infos {
            display: flex;
            flex-direction: column;
            text-align: center;

            .text {
                width: 100%;
            }

            button {
                margin-top: 50px;
            }
        }
    }
    
}

.real-f {
    background-color: #000;
    color: #fff;
    font-size: 1.1em;
    padding: 90px 0 90px 0;

    a, li {
        color: #fff;
        padding-bottom: 15px;
    }

    h4 {
        color: gray;
        font-size: 0.7em;
        padding-bottom: 15px;
        letter-spacing: 2px;
    }

    img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    li {
        display: block;
        font-size: 1.2em;
    }

    .infos {
        align-items: flex-start;
    }

    p {
        padding-bottom: 10px;
    }

}

/* Services */

.intro {
    padding: 80px 0 80px 0;

    h1 {
        font-size: 4em;
    }

    p {
        font-size: 1.5em;
        padding-top: 30px;
    }
}

.h-section-ser {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    
    article {
        margin-bottom: 40px;
    }
}

/* Contact us */

.c-section {
    padding: 0;
    margin-top: -80px;
}

.text-box {
    width: 48.5%;
    font-size: 1.5em;
    
    p {
        padding: 40px 0 0 0;
    }

    a {
        color: #814ebf;
        display: block;
        padding: 10px 0 0 0;
    }

    hr {
        border: lightgray solid 1px;
        margin: 40px 0 45px 0;
    }
}

form {
    width: 48.5%;
    font-size: 1.1em;
    margin: 30px 0 0 0;
    sup {
        color: red;
        font-size: 1em;
    }
    input {
        width: 100%;
        height: 50px;
        border: lightgray 0.5px solid;
        font-size: 0.9em;
        margin-bottom: 15px;
    }

    textarea {
        width: 100%;
        font-size: 1.2em;
        margin-bottom: 15px;
    }

    .violet-btn {
        font-size: 1.2em;
    }
}

.thank-page {
    font-size: 1.5em; 
    padding-top: 70px;

    p {
        padding-top: 30px;
    }

    img {
        height: 35px;
        margin-right: 20px;
        margin-bottom: -8px;
    }

    a {
        color: #814ebf;
    }
}